<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<body class="py-8">
<section class="container mx-auto px-4">
  <div class="grid grid-gutter">
    <div class="js-equal-height">
      <h1 data-equal-height="title">Lorem ipsum dolor sit amet</h1>
      <div data-equal-height="body">
        <div data-equal-height="image"><img src="https://source.unsplash.com/crs2vlkSe98/500x250" alt=""></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor dolorem eaque earum incidunt magni non optio perferendis placeat quae quaerat quibusdam quis reprehenderit saepe sed sequi, sunt ut voluptates!</p></div>
    </div>
    <div class="js-equal-height">
      <h1 data-equal-height="title">Lorem ipsum dolor</h1>
      <div data-equal-height="body">
        <div data-equal-height="image"><img src="https://source.unsplash.com/collection/1111575/500x250" alt=""></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor dolorem eaque earum incidunt magni non optio perferendis placeat quae quaerat quibusdam quis reprehenderit saepe sed sequi, sunt ut voluptates!</p></div>
    </div>
    <div class="js-equal-height">
      <h1 data-equal-height="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor dolorem eaque earum incidunt magni</h1>
      <div data-equal-height="body">
        <div data-equal-height="image"><img src="https://source.unsplash.com/collection/1111575/500x250" alt=""></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor dolorem eaque earum incidunt magni non optio perferendis placeat quae quaerat quibusdam quis reprehenderit saepe sed sequi, sunt ut voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor dolorem eaque earum incidunt magni non optio perferendis placeat quae quaerat quibusdam quis reprehenderit saepe sed sequi, sunt ut voluptates!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolor dolorem eaque earum incidunt magni non optio perferendis placeat quae quaerat quibusdam quis reprehenderit saepe sed sequi, sunt ut voluptates!</p>
      </div>
    </div>
  </div>
</section>
<script src="../node_modules/imagesloaded/imagesloaded.pkgd.min.js"></script>
</body>
