body{
  border: solid red;
}

.grid{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
}

[data-equal-height="title"]{
  border: solid green;
}

[data-equal-height="body"]{
  border: solid red;
}

[data-equal-height="image"]{
  border: solid purple;
}

.simple{
  border: solid green;
}
img{
  max-width: 100%;
}
